<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="icon" type="image/svg" href="/icon_stuff.svg">
</head>

<body>
	<header>
		<h1 class="title">David Loiseaux</h1>
		<!-- <img src="photo.jpg" alt="David Loiseaux" class="picture"> -->
		<p class="subtitle">PostDoc @
			<a href="https://www.lbl.gov/">Berkeley Lab</a>,
			<a href="https://amcr.lbl.gov/">AMCR division</a>,
			<a href="https://amcr.lbl.gov/departments/computer-science-department/ppan/">PPAN department</a>.
		</p>
	</header>
	<hr>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/research">Research</a></li>
			<li><a href="/curriculum">CV</a></li>
			<li><a href="/teaching">Teaching</a></li>
		</ul>
	</nav>
	<hr>
	<div class="container">
		{{ content }}
	</div><!-- /.container -->
	<hr>
	<footer>
		<ul>
			<li><a href="mailto:djloiseaux@lbl.gov">E-mail</a></li>
			<li><a href="https://github.com/DavidLapous">GitHub</a></li>
			<li><a href="https://www.zotero.org/davidlapous/8467557">Zotero</a></li>
			<li><a href="https://scholar.google.com/citations?user=oAjKKKcAAAAJ">Google Scholar</a></li>
			<li><a href="https://arxiv.org/a/loiseaux_d_1.html">arXiv</a></li>
			<li><a href="https://www.linkedin.com/in/david-loiseaux/">LinkedIn</a></li>
		</ul>
		<div style="text-align: right; color: #888; font-size: 0.85em; margin-top: 0.5em;">
			[Last update : {{ site.time | date: "%Y-%m-%d" }}]
		</div>
	</footer>
</body>

</html>
